@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: "Quicksand", serif;
    background-color: rgba(255, 242, 233, 0.123);
    background-image: linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 1.5));
}
/* navbar design */
.navbar {
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}
.school {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.school img {
    width: 100%;
}
.nav-list ul {
    display: flex;
    list-style: none;
    gap: 32px;
}
.nav-list ul a {
    text-decoration: none;
    font-size: 1.1rem;
}
.school h2 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 30px;
}
.home {
    color: #FEA301;
    font-weight: bold;
}
.about {
    color: #01ACFD;
    font-weight: 500;
}
.facility {
    color: #05D4DF;
    font-weight: 500;
}
.admission {
    color: #5D58EF;
    font-weight: 500;
}
.nav-button {
    padding: 10px 50px;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: rgba(254, 163, 1, 1);
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
.nav-button:hover {
    background-color: black;
}
.bar {
    display: none;
}

/* banner section design */
.banner {
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.banner-img img {
    width: 100%;
}
.banner h1 {
    font-weight: bold;
    line-height: 60px;
    font-size: 3rem;
    color: black;
    margin-bottom: 24px;
}
.empower {
    color: rgba(254, 163, 1, 1);
}
.vision {
    color: rgba(1, 172, 253, 1);
}
.banner .banner-btn {
    padding: 10px 45px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 0.85rem;
    border: none;
    border-radius: 12px;
    margin-top: 24px;
    cursor: pointer;
}
.banner .banner-btn:hover {
    background-color: #FEA301;
}

/* curriculum design */
.curriculum {
    max-width: 1440px;
    margin: 0px auto;
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.curriculum .standard {
    font-size: 2.9rem;
    font-weight: bold;
    color: #000000;
    margin: 60px 0;
}
.card-box {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 28px;
}
.card {
    max-width: 300px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
    text-align: center;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05) inset;
}
.card1 {
    background-image: linear-gradient(180.00deg, #DEF5FF -0.5%, #FFFFFF 60%);
}
.card2 {
    background-image: linear-gradient(180.00deg, #FFF4DC -0.5%, #FFFFFF 60%);
}
.card3 {
    background-image: linear-gradient(180.00deg, #EEE1FF -0.5%, #FFFFFF 60%);
}
.card h1 {
    font-weight: bold;
    font-size: 1.2rem;
    color: #202020;
    line-height: 30px;
}
.card img {
    width: 30%;
}
.card p {
    font-family: "Raleway", serif;
    color: #808080;
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 20px;
}
.cardbtn1,
.cardbtn2,
.cardbtn3 {
    background-color: #FFFF;
    border: none;
    font-size: 0.7rem;
    font-weight: bold;
    cursor: pointer;
}
.cardbtn1 {
    color: #64C8FF;
}
.cardbtn1:hover {
    color: black;
}
.cardbtn2 {
    color: #F0AA00;
}
.cardbtn2:hover {
    color: black;
}
.cardbtn3 {
    color: #8700FF;
}
.cardbtn3:hover {
    color: black;
}
.ballbox {
    display: flex;
    gap: 10px;
    margin: 60px 0;
    text-align: center;
    cursor: pointer;
}
.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(254, 163, 1, 1);
    color: white;
    padding-top: 15px;
}
.ball:hover {
    background-color: black;
}

/* stories section design */
.stories {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-image: url("../assets/bg.png");
    background-size: contain;
    font-family: "Raleway", serif;
    padding: 20px;
    margin-bottom: 60px;
}
.stories img {
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.stories h1 {
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 55px;
    color: rgba(0, 0, 0, 1);
    margin: 60px 0;
}
.img-box {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    margin-bottom: 80px;
}
.img-1 {
    border-radius: 16px;
    background-color: white;
    max-width: 540px;
}
.img-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-radius: 16px;
}
.img-card {
    max-width: 290px;
    background-color: white;
    border-radius: 16px;
    font-size: 0.6rem;
    font-weight: bold;
    line-height: 28px;
    color: #000000;
    font-family: "Quicksand", serif;
}
.img-desc1 {
    padding: 30px 40px;
    position: relative;
}
.img-desc1 h1 {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 35px;
    font-family: "Quicksand", serif;
    margin-bottom: 50px;
    margin-top: 30px;
}
.img-desc1 p {
    font-size: 0.8rem;
    line-height: 28px;
    color: rgba(102, 102, 102, 1);
}
.img-desc {
    padding: 20px 40px;
    position: relative;
}
.img-desc1-btn {
    padding: 15px 20px;
    color: white;
    background-color: rgba(60, 216, 232, 1);
    border-radius: 45px;
    border: none;
    font-weight: 500;
    position: absolute;
    top: -9%;
    font-family: "Raleway", serif;
}
.img-desc-btn,
.img-desc-btn2 {
    padding: 10px 18px;
    color: white;
    border-radius: 45px;
    border: none;
    font-weight: 500;
    position: absolute;
    font-family: "Raleway", serif;
    top: -30%;
}
.img-desc-btn {
    background-color: rgba(149, 178, 38, 1);
}
.img-desc-btn2 {
    background-color: rgba(93, 88, 240, 1);
}
.view {
    color: white;
    background-color: black;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    font-family: "Quicksand", serif;
    cursor: pointer;
}
.view:hover {
    background-color: white;
    color: black;
}

/* Footer design */
.footer {
    max-width: 1440px;
    background-color: #01ACFD;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 150px;
    margin: 0px auto;
    padding: 100px 150px;
    color: #FFFFFF;
}
.parts {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    align-items: center;
}
.parts img{
    width: 22%;
}
.parts h1 {
    font-weight: bold;
    font-size: 2.8rem;
}
.part-1 p {
    font-size: 1.1rem;
    line-height: 25px;
    font-weight: 100;
}
.part-2 ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.part-2 h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 38px;
}
.part-2 li {
    list-style: none;
}
.part-2 li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.2rem;
}
.part-3 img{
    width: 100%;
}
.part-3 h2 {
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 1.8rem;
}
.social{
    display: flex;
    gap: 10px;
}
/* marquee style design */
marquee{
    font-size: 1.8rem;
    font-weight: bold;
    color: rgba(254, 163, 1, 1);
    padding: 15px;
    text-align: center;
    text-shadow: 1px 2px gray;
}
marquee span{
    color: #5D58EF;
}
.motto{
    color: steelblue;
}
/* responsive */
@media screen and (max-width: 576px) {
    .bar {
        display: block;
    }
    .nav-list {
        display: none;
    }
    .nav-button {
        display: none;
    }
    .school {
        gap: 5px;
    }
    .school img {
        width: 80%;
    }
    .school h2 {
        display: none;
    }
    .navbar {
        justify-content: space-between;
        padding: 0 15px;
        padding-bottom: 12px;
        border-bottom: 1px solid rgba(254, 163, 1, 1);
    }
    .banner {
        flex-direction: column-reverse;
        padding: 10px;
        text-align: center;
        gap: 50px;
    }
    .banner-img img {
        width: 90%;

    }
    .curriculum {
        margin-bottom: 20px;
    }
    .curriculum .standard {
        text-align: center;
        font-size: 2.1rem;
    }
    .card-box {
        flex-direction: column;
    }
    .ballbox {
        display: none;
    }
    .img-1 {
        display: none;
    }
    .img-desc {
        padding: 5%;
    }
    .img-desc-btn,
    .img-desc-btn2 {
        top: -25%;
        padding: 4% 6%;
    }
    .img-card {
        line-height: 18px;
    }
    .img-card h2 {
        margin-top: 5%;
    }
    .footer{
        flex-direction: column;
        padding: 25px 20px;
        gap: 32px;
        padding-bottom: 60px;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar {
        flex-direction: column;
        gap: 30px;
    }
    .banner {
        flex-direction: column-reverse;
        padding: 10px;
        text-align: center;
        gap: 50px;
    }
    .curriculum {
        margin-bottom: 30px;
    }
    .card-box {
        flex-direction: column;
    }
    .img-1 {
        display: none;
    }
    .img-desc {
        padding: 5%;
    }
    .img-desc-btn,
    .img-desc-btn2 {
        top: -26%;
        padding: 5% 7%;
    }
    .img-card {
        line-height: 20px;
    }
    .img-card h2 {
        margin-top: 8%;
    }
    .footer{
        flex-direction: column;
        padding: 25px;
        gap: 45px;
        padding-bottom: 60px;
    }
}